.display-tweets {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin: 10px 0px;
}

.tweet {
  width: 100%;
  padding: 10px;
  border: 5px solid #545149;
  margin: 10px 0px;
}

.tweet:hover {
  box-shadow: 5px 5px #4057a162;
  font-weight: bold;
}

.tweet:hover .user .uid {
  visibility: visible;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}


.uid {
  color: #4057a162;
  visibility: hidden;
}

.avatar-and-name {
  display: flex;
  align-items: center;
}

.avatar {
  padding: 5px;
}

.tweet-content {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0px solid #545149;
  border-bottom-width: 5px;
  padding: 15px 15px 0px 15px;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.date-and-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  padding: 0px 10px;
}


.tweet:hover .date-and-info i.icon-blue {
  visibility: visible;
}


i.icon-blue {
  color: #4056A1;
  visibility: hidden;
}