nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 0px 60px;
  color: white;
  background-color: #4056A1;
  position: fixed;
  top: 0;
  width: 100%;
}

span {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.prompt {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i {
  color: red;
}